@import url(./meyers.css);

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid: minmax(115px , 1fr) 5fr / minmax(125px, 1fr) 6fr;
}

.sidebar {
  background-color: rgb(37, 118, 41);
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 1fr 3fr 2fr ;
}

.header {
  background-color: rgb(223, 223, 223);
  display: grid;
  grid: 2fr 3fr / 3fr 1fr;
  align-items: center;
}

.content {
  display: grid;
  grid: repeat(3, 1fr) 2fr / 5fr 2fr;
  grid-auto-rows: 2fr;
  gap: 2%;
  overflow: scroll;
  padding: 2%;
  overflow: auto;
}

.small-charts {
  display: flex;
  justify-content: space-evenly;
}

.line-chart {
  border: solid red 2px;
  width: 30%;
}

.recent-activity {
  background-color: bisque;
  grid-area: 1 / 2 / 3 / 3;
}

.stacked-chart {
  background-color: rgb(186, 146, 82);
  grid-area: 2 / 1 / 4 / 2 ;
}

.schedule {
  background-color: rgb(246, 103, 75);
  grid-area: 3 / 2 / 5 / 3;
}

.breakdown {
  grid-row: 4;
}

.sidebar>img {
  width: 90%;
  margin-top: 20%;
  margin-left: 2%;
}

.sidebar>div {
  display: flex;
  flex-direction: column;
  margin: 20% 20%;
  
}

.sidebar>div>a {
  color: white;
  display: flex;
  align-items: center;
  margin-top: 5%;
  gap: 4%;
}

a {
  text-decoration: none;
}