@import url(./meyers.css);

html {
  --content-color: #ecf0f4;
  --content-text: #334155;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid: minmax(125px , 2fr) 7fr / minmax(125px, 1fr) minmax(600px, 6fr);
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-weight: normal;
}

.sidebar {
  background-color: rgb(37, 118, 41);
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 1fr 3fr 2fr ;
}

.sidebar>img {
  width: 90%;
  margin-top: 20%;
  margin-left: 2%;
}

.sidebar>div {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  margin: 20% 18%;
  gap: 2%;
}

.sidebar>div>a {
  color: white;
  display: flex;
  align-items: center;
  margin-top: 5%;
  gap: 4%;
}

.header {
  background-color: #dff9e8;
  display: grid;
  grid: 2fr 3fr / 5fr 2fr;
  align-items: center;
}

.username {
  display: flex;
  align-items: center;
  gap: 4%;
}

#user-icon {
  width: 12%;
  height: auto;
}

.search {
  display: flex;
  width: 75%;
  padding-left: 5%;
}

.search>input {
  flex: 1;
}

.header-buttons {
  display: flex;
  gap: 1%;
}

.notif-bar {
  display: grid;
  grid: 1fr 4fr / 1fr 5fr;
}

.notif-bar>img {
  width: clamp(65px, 30%, 45%);
  height: auto;
  grid-area: 1 / 1 / 3 / 2;
  align-self: center;
  justify-self: end;
  padding-right: 2%;
}

.notif-bar>h4 {
  font-size: 0.75rem;
}

.notif-bar>h2 {
  font-size: 2rem;
}

.content {
  display: grid;
  grid: repeat(3, 1fr) 2fr / 5fr 2fr;
  grid-auto-rows: 2fr;
  gap: 2%;
  overflow: scroll;
  padding: 2%;
  background-color: var(--content-color);
  overflow: auto;
}

.content div {
  border-radius: 15px;
}

.content div:not(.small-charts){
  background-color: white;
}

.small-charts {
  height: clamp(100px, 110px, 125px);
  display: flex;
  justify-content: space-between;
}

.small-charts>div>h2 {
  font-size: 2rem;
}

.content-numbers {
  padding-top: 2%;
  padding-left: 2%;
  gap: 5px;
  width: 30%;
  display: flex;
  flex-direction: column;
  color: var(--content-text);
}

.line-chart

.line-chart>img {
  border-radius: 10px;
}

.recent-activity {
  grid-area: 1 / 2 / 4 / 3;
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.recent-activity>.activity {
  flex: 1;
  border-radius: 0px;
  border-bottom: solid 0.1rem var(--content-color);
  font-size: 0.8rem;
  color: var(--content-text);
}

.activity p {
  margin-top: 2%;
}

.stacked-chart {
  grid-area: 2 / 1 / 4 / 2 ;
}

.schedule {
  grid-area: 4 / 2 / 5 / 3;
}

.breakdown {
  grid-row: 4;
}

a {
  text-decoration: none;
}